# Supabase
SUPABASE_HOST=aws-0-sa-east-1.pooler.supabase.com
SUPABASE_PORT=6543
SUPABASE_DATABASE=postgres
SUPABASE_USER=postgres.vubnekyyfjcrswaufnla
SUPABASE_PASSWORD=2YXGdmXESoZAoPkO

# Django
SECRET_KEY=django-insecure-sua-chave-secreta-aqui-mude-esta-chave-em-producao
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,seu-dominio.com

# Configurações de SSL
SSL_MODE=require

# Configurações de Log
LOG_LEVEL=INFO
LOG_FILE=django.log 